<div class="container devise">
  <div class="devise-box">
    <p class="devise-title">新しいアカウントを作成</p>
    <div class="devise-inner">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

<!-- ユーザー名追加 -->

        <div class="field">
          <div class="required">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "ユーザー名", :class => "devise-form" %>
          </div>
        </div>

<!-- ユーザー名追加ここまで -->

        <div class="field">
          <div class="required">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", :class => "devise-form" %>
          </div>
        </div>

        <div class="field">
          <div class="required">
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "パスワード", :class => "devise-form" %>
          </div>
        </div>

        <div class="field">
          <div class="required">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード確認", :class => "devise-form" %>
          </div>
        </div>

        <div class="action-btn">
          <%= f.submit "新しいアカウントを作成", :class => "devise-login-btn" %>
        </div>
      <% end %>

      <a class="devise-link" href="/users/sign_in">すでにアカウントをお持ちの方はログイン</a>
    </div>
  </div>
</div>
